<div class="container">
  <div class="about-intro about-intro--bg">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="about-intro__main-block">
          <div class="main-block__text-box">
            <h5>{{@model.intro.note}}</h5>
            <h3>{{@model.intro.title}}</h3>
            <p class="text-center">{{@model.intro.text}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-block">
    <div class="row align-items-center">
      <div class="col-lg-4 offset-lg-1">
        <img class="img-fluid" src="{{@model.imgUrls.second}}" alt="Marta Wilk">
      </div>
      <div class="col-lg-7">
        <div class="about-block__main-block">
          <div class="about-block__text-box">
            <p>{{@model.box.p1}}</p>
            <p>{{@model.box.p2}}</p>
            <p>{{@model.box.p3}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-block about-block--bg-color">
    <div class="row align-items-center">
      <div class="col-lg-6 offset-lg-1">
        <div class="about-block__main-block">
          <div class="about-block__text-box">
            <h3>{{@model.endtext.headline}}</h3>
            <p class="text-center">{{@model.endtext.p1}}</p>
            <p class="text-center extra-margin">
              <BtnLink @route="bildergalerie">{{@model.endtext.b1}}</BtnLink>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <img class="img-fluid" src="{{@model.imgUrls.third}}" alt="Marta Wilk">
      </div>
    </div>
  </div>
</div>