<header class="intro-header">
  <div class="intro-header__body">
   <div class="row">
      <div class="col-10 col-md-7 offset-md-1 col-xl-6">
        <h4 class="top-header d-none d-md-block">{{@model.header.top}}</h4>
        <h1 class="center-header">{{@model.header.center}}<br/>{{@model.header.centerBreak}}</h1>
        <h3 class="bottom-header">&mdash; {{@model.header.bottom}}</h3>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="section-margin">
    <div class="row v-align-middle">
      <div class="col-sm">
        <div class="intro">
          <h3>{{@model.intro.title}}</h3>
          <p class="intro__text-block intro__text-block--more-padding">{{@model.intro.text}}</p>
          <hr class="d-none d-md-block">
        </div>
      </div>
      <div class="col-10 offset-1 col-md offset-md-0">
        <img src="{{@model.intro.imgUrl}}" alt="Marta Wilk - Fotografin" class="img-fluid">
      </div>
      <div class="col-lg">
        <div class="intro">
          <hr class="d-none d-lg-block">
          <p class="intro__headline">{{@model.headline.title}}</p>
          <p class="intro__text-block">{{@model.headline.text}}</p>
          <p class="text-center">
            <BtnLink @route="fotografin">{{@model.headline.button}}</BtnLink>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-margin">
    <div class="row">
      <div class="col-md-5 col-lg-4">
        <p class="portfolio-headline">{{@model.highlights.note}}</p>
        <h3>{{@model.highlights.title}}</h3>
        <img src="{{@model.highlights.imgUrls.left}}" class="portfolio-img img-fluid d-none d-md-block" alt="portfolio highlight">
      </div>
      <div class="col-md half-bg">
        <div class="row v-align-middle">
          <div class="col-lg-8">
            <img src="{{@model.highlights.imgUrls.top}}" class="portfolio-img img-fluid" alt="portfolio highlight">
          </div>
          <div class="col-md">
            <h2 class="portfolio-number">{{@model.highlights.photos.quantity}}</h2>
            <h4 class="portfolio-text">{{@model.highlights.photos.text}}</h4>
            <p class="text-center">
              <BtnLink @route="bildergalerie">{{@model.highlights.photos.button}}</BtnLink>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-7 d-md-none d-lg-block">
            <img src="{{@model.highlights.imgUrls.bottom}}" class="portfolio-img img-fluid" alt="portfolio highlight">
          </div>
          <div class="col-lg-4 d-none d-lg-block">
            <img src="{{@model.highlights.imgUrls.right}}" class="portfolio-img img-fluid" alt="portfolio highlight">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>